doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MN Teen Activists
  link(rel='shortcut icon' type='image/png' href='img/logoturqoise2.png')
  // Bootstrap CSS
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin='anonymous')


  script(src='js/scroll.js')
  // Custom stylesheets

  // Fonts
  link(rel='stylesheet' href='https://use.typekit.net/mjt1uzn.css')
  
  style
    include ../styles/main.css
    include ../styles/owl.css
//navbar
nav.navbar.fixed-top.navbar-expand-xl.navbar-light.mnnav.p-0
  .container-fluid
    a.navbar-brand(href='/')
      img.d-inline-block.align-text-top.customImgSize.logoimg(src='img/logobw.png' alt='' width='80' height='80')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.custom-nav
          a.nav-link.custom-nav(href='/about') About Us
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link( href='#' role='button' data-bs-toggle='dropdown' aria-expanded='true')
            | Chapters
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            li
              a.dropdown-item(href='/start-chapter') Join
            //- li
            //-   a.dropdown-item(href='#') Another action
            //- li
            //-   a.dropdown-item(href='#') Something else here
        li.nav-item
          a.nav-link(href='/take-action' ) Take Action
        li.nav-item
          a.nav-link(href='/shop' ) Shop
        li.nav-item
          a.nav-link(href='/donate' ) Donate
        li.nav-item
          a.nav-link(href='contact' ) Contact
        li.nav-item
          a#report.nav-link(href='#') Report an Incident
aside.report
  .report-title
    a(href='/report') Report an Incident


#mycarousel.carousel.slide(data-ride='carousel')
  .carousel-inner
    .carousel-item.active
      #carousel-container
        .highlighter-h1.highlighter2.toph1.text-blue
          h1 Eradicating Injustices
        .bottomh1.highlighter-h1.highlighter3
          h1 Across MN
        p.descriptor.bottomh1
          | We strive to fight systemic injustices in schools throughout Minnesota, while also amplifying the voices of youth.
        a.btn.btn-lg.btn-outline-primary.cbutton(href='/about' role='button') Learn More
      img(src='img/jumbobg1.png' alt='First slide')
    .carousel-item
      #carousel-container
        .highlighter-h1.highlighter2.toph1
          h1 See Some of Our 
        .bottomh1.highlighter-h1.highlighter3
          h1 Past Projects
        p.descriptor.bottomh1
          | We've been working hard to better our local Minnesota communities and create meaningful change
        a.btn.btn-lg.btn-outline-primary.cbutton(href='/projects' role='button') Learn More
      img(src='img/jumbobg1.png' alt='First slide')
    a.carousel-control-prev(href='#mycarousel' data-bs-slide='prev')
      span.carousel-control-prev-icon
    a.carousel-control-next(href='#mycarousel' data-bs-slide='next')
      span.carousel-control-next-icon
// FIGHTING FOR... DIV
.fistbg
  .greyjumbo.rellax(data-rellax-speed='2')
    .jumbotext
      h2.atextjumbo Fighting For
      #typetext.atextjumbo
      #typecursor
    .subjumbotext
      h3.highlightedgeneral A Group as Diverse as our Causes
      p
        | Our goal is to grow our social justice footprint, all across Minnesota. We want to bring fresh and bold community members to MN Teen Activists to help establish our mission throughout all schools in Minnesota. We need things like: social media, civic engagement, policy/curriculum, finances, etc.
      a.btn.btn-lg.btn-outline-primary.cbuttonwide(href='/take-action' role='button') Click to Find out More
  img#protestimg(src='img/fistbg.png' alt='People protesting')
// TAKE ACTION... DIV
.takeaction
  .actiontext
    h1 Take The Next Step
  .jumbothird.jumboleft(data-rellax-speed='0.5')
    img.actionicon(src='img/protesticon.png')
    h2 Events
    p
      | There are no upcoming events
      br
    a.btn.btn-lg.btn-outline-primary.cbuttonwide.responsivezbutton(href='#' role='button') SEE MORE
  .jumbothird.jumbocenter(data-rellax-speed='0.5')
    img.actionicon(src='img/teachericon.png')
    h2 Become an Ambassador
    p
      | It is our goal to reach across the entire state of Minnesota, but in order to do so we need your help. Become a Minnesota Teen Activists ambassador and represent your school district today, or simply learn more by clicking the apply button below.
    a.btn.btn-lg.btn-outline-primary.cbuttonwide.responsivezbutton(href='/start-chapter' role='button') Apply
  .jumbothird.jumboright(data-rellax-speed='0.5')
    img.actionicon(src='img/hearticon.png')
    h2 Join the Team
    p
      | We are currently looking for student interns to work with MN Teen Activists headquarter as we expand throughout Minnesota and additional states. Click the link below to view job descriptions and more information on how to join the team.
    a.btn.btn-lg.btn-outline-primary.cbuttonwide.responsivezbutton(href='#' role='button') JOIN TODAY
  img#mapimg(src='img/mapbg.png')
// THE RESOURCES YOU NEED... DIV
.resources.rellax(data-rellax-speed='2')
  .leftdiv
    img(src='img/resourcesimg.png')
    .headwrapper
      h1
        | Report
        br
        |  an Incident
      p
        | Report an incident that has contributed to an unjust or unsafe experience in your school, and our team will ensure that the accountability is measurable and justice is served.
      a.btn.btn-lg.btn-outline-primary.zbutton(href='#' role='button') Report an Incident
  
  .rightdiv
    img(src='img/resourcesimg.png')
    .headwrapper
      h1
        | MN Teen Activists
        br
        | Blog
      p
        | Check and subscribe out our blog to see what we've been up to, and what our plans are for the future. Updated Monday of every week. Beginning 11/01/22
      a.btn.btn-lg.btn-outline-primary.zbutton(href='#' role='button') View Blog

// TWEET DIV

.tweeter
  .tweet-text
    h1
      | &ldquo;Youth voices matter because we are a generation of advocates, activists and innovators who do not have the luxury of waiting to change the world we live in.&rdquo;
    h3 
      | Sign up for updates and connect with us
    form(class="tweet-form")
      input#fname(type='email' class="form-element-input w-[70%] mx-auto px-6 py-2 rounded-md" name='email' placeholder='Email')
      input#lname(type='text' class="form-element-input w-[70%] mx-auto px-6 py-2 rounded-md" name='zipcode' placeholder='Zip Code')
      button.btn.btn-lg.btn-outline-primary.zbutton.join-cause(href='#' type="submit") Sign Up for Updates

    

.instaembed(class="mx-auto py-[20em] mt-[20em] width-[100%] flex align-center box-border")
  center(id="insta-frame")
    div(class="insta-text")
      h1 Check us out on Instagram
      p Visit us on the platform where the movement got its start, and even find more ways to get involved.
    iframe(src='//instagram.com/p/CkESwOsvAqK/embed/' frameborder='20px' scrolling='yes' allowtransparency='true' class="mx-auto width-[600px]")

  //- blockquote.instagram-media( data-instgrm-version='14' class="mx-auto mt-[3em] width-[400px]") 
  //-   // replace this href with the link to the post
  //-   a(href='https://www.instagram.com/p/CWA2UbCs6x_/')



include includes/footer.pug
script(src='js/scroll.js')
script(type='text/javascript' src='js/typewriter.js')
script(src='//www.instagram.com/embed.js')
script(src='https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js')
script.
  var rellax = new Rellax('.rellax');
