extends general_layout.pug 
include mixins/titlediv.pug
include mixins/leftaside.pug
include mixins/rightaside.pug
include mixins/focalbg.pug
include mixins/threepart.pug
include mixins/formelement.pug


block body
    div(id="container")
    script(src='../js/dom_insert.js')