section(class="bg-[url('../../img/about-header.png')] bg-no-repeat bg-cover h-[42em] bg-top min-w-2xl")
    div(class="bg-near-black absolute h-[42em] w-[100%] bg-opacity-80")
        div(class="absolute mt-[15.3em] ml-[4em] small-center:ml-[2em]")
            h1(class=" text-[10vw] headertext text-near-white small-center:text-center small-center:px-[0.5em] small-center:mt-[1em] ")#header #{header}
            h2#subheader(class="text-[3vw] small-center:text-[4.5vw] headertext text-aqua-blue pr-[60%] small-center:px-[3em] small-center:text-center") #{subheader}