doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MN Teen Activists
  link(rel='shortcut icon' type='image/png' href='img/logoturqoise2.png')
  // Bootstrap CSS
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin='anonymous')


  script(src ="https://checkout.stripe.com/checkout.js")
  script(src="https://js.stripe.com/v3/")
  script(src='js/scroll.js')
  script(src='js/form_submission.js')

  script(src='js/card_handler.js')


  // Custom stylesheets

  // Fonts
  link(rel='stylesheet' href='https://use.typekit.net/mjt1uzn.css')
  
  style
    include ../../styles/main.css
    include ../../styles/owl.css
    include ../../../styles/styles.css