mixin title-div(header)
    section(class="bg-[url('../../img/about-header.png')] bg-no-repeat bg-cover h-[42em] bg-top min-w-2xl")
        div(class="bg-near-black absolute h-[42em] w-screen bg-opacity-80")
            div(class="absolute bottom-[-8em] large-dt:left-[4em] medium-dt:left-[2em] highlighter-header small-dt:left-[0em] small-dt:w-2 drop-shadow-xl")
                h1 #{header}
